<nav class="navbar navbar-expand navbar-dark bg-primary mb-4">
    <div class="container">
        <a routerLink="/" class="navbar-brand">Angular APP</a>
        <div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a routerLink="/users" class="nav-link">User</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a routerLink="/employees" class="nav-link">Employee</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a routerLink="/posts" class="nav-link">Post</a>
                </li>

            </ul>
        </div>
    </div>
</nav>