<!-- form input -->

<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add Employee</button>
<div class="card card-body" *ngIf="showUserForm">
    <!-- Basic form section
        while click on sumit button all form is getting submitted and page getting reload
        to prevent that we need to call preventDafult on submit event
    <form (submit) = "onSubmit($event)">
       
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" name="name">
        </div>
       
        <button (click)="adduser({name:'xnf',email:'abc@som.co', phone:1234})" class="btn btn-block mb-3">Add New
            Employee</button>
    </form> -->

    <form>
        <!-- input section -->
        <div class="form-group">
            <label for="">Id</label>
            <input type="text" class="form-control" [(ngModel)]="employee.id" name="id">
        </div>
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" [(ngModel)]="employee.name" name="name">
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" [(ngModel)]="employee.email" name="email">
        </div>
        <div class="form-group">
            <label for="">Phone</label>
            <input type="number" class="form-control" [(ngModel)]="employee.phone" name="phone">
        </div>
        <!-- submit button section -->
        <button (click)="adduser()" class="btn btn-block mb-3">Add New
            Employee</button>
        <!-- removing click event, submit form will take care of adding user-->
        <!-- <button class="btn btn-block mb-3">Add New
                Employee</button> -->
    </form>
</div>
<!-- details section -->
<p>Employees Details</p>
<ul>
    <li class="card card-body mb-2" *ngFor="let e of employees">
        <h4>{{e.name}}
            <small>
                <button (click)="toggleHide(e)" class="btn btn-dark btn-sm">
                    <!-- <i *ngIf="e.hide" class="fa fa-plus"></i>
                    <i *ngIf="!e.hide" class="fa fa-minus"></i> -->
                    <i [ngClass]="e.hide? 'fa fa-plus':'fa fa-minus'"></i>
                </button>
            </small>
        </h4>
        <ul class="list-group" *ngIf="!e.hide">
            <li class="list-group-item"> {{e.email}}</li>
            <li class="list-group-item"> {{e.phone}}</li>
        </ul>

    </li>

</ul>