<!-- form input -->

<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add Employee</button>
<div class="card card-body" *ngIf="showUserForm">

    <!-- template driven form -->
    <form #empForm="ngForm" (ngSubmit)="onSubmit()">
        <!-- input section -->
        <div class="form-group">
            <label for="">Id</label>
            <input type="text" class="form-control" [(ngModel)]="employee.id" name="id">
        </div>
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" [ngClass]="{'is-invalid':empFormName.errors && empFormName.touched}" class="form-control"
                [(ngModel)]="employee.name" name="name" required minlength="2" #empFormName="ngModel">
            <div [hidden]="!empFormName.errors?.required" class="invalid-feedback">Name is required</div>
            <div [hidden]="!empFormName.errors?.minlength" class="invalid-feedback">Name must be at least 2 characters
            </div>
        </div>

        <div class="form-group">
            <label for="">Email</label>
            <input type="email" [ngClass]="{'is-invalid':empFormEmail.errors && empFormEmail.touched}"
                class="form-control" [(ngModel)]="employee.email" name="email" #empFormEmail="ngModel" required
                pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
            <div [hidden]="!empFormEmail.errors?.required" class="invalid-feedback">Email is required</div>
            <div [hidden]="!empFormEmail.errors?.pattern" class="invalid-feedback">Email is not valid</div>

        </div>
        <div class="form-group">
            <label for="">Phone</label>
            <input type="number" class="form-control" [(ngModel)]="employee.phone" name="phone">
        </div>
        <button class="btn btn-block mb-3" [disabled]="!empForm.form.valid">Add New
            Employee</button>
    </form>
</div>
<!-- details section -->
<p>Employees Details</p>
<ul>
    <li class="card card-body mb-2" *ngFor="let e of employees">
        <h4>{{e.name}}
            <small>
                <button (click)="toggleHide(e)" class="btn btn-dark btn-sm">
                    <!-- <i *ngIf="e.hide" class="fa fa-plus"></i>
                    <i *ngIf="!e.hide" class="fa fa-minus"></i> -->
                    <i [ngClass]="e.hide? 'fa fa-plus':'fa fa-minus'"></i>
                </button>
            </small>
        </h4>
        <ul class="list-group" *ngIf="!e.hide">
            <li class="list-group-item"> {{e.email}}</li>
            <li class="list-group-item"> {{e.phone}}</li>
        </ul>

    </li>

</ul>