<h2>Add Post</h2>
<div class="card card-body mb-5">
    <form>
        <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" [(ngModel)]="currentPost.title" name="title" #title>
        </div>
        <div class="form-group">
            <label for="">Body</label>
            <input type="text" class="form-control" [(ngModel)]="currentPost.body" name="body" #body>
        </div>
        <button *ngIf="!isEdit" (click)="addPost(title.value, body.value)" class="btn btn-dark btn-block">Add
            Post</button>
        <button *ngIf="isEdit" (click)="updatePost()" class="btn btn-dark btn-block">Update
            Post</button>
    </form>
</div>