<h2>Users</h2>
<button [disabled]="!enableAdd" class="btn btn-light btn-block mb-3"
[ngClass]="currentClasses">
    Add new User
</button>
<ul class="list-unstyled" *ngIf="users.length > 0 ; else noUsers">
    <!-- <ul *ngIf="users.length > 0 > -->
    <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive"
    [style.border-color]="user.isActive?'green':''">
      <div class="row">
          <div class="col-sm-4">
            <!-- <img class="img-fluid" [src]="user.image" alt=""> -->
            <img class="img-fluid" bind-src="user.image" alt="">
            <!-- <img class="img-fluid" src={{user.image}} alt=""> -->
          </div>
          <div class="col-sm-8">
            <!-- <h3 [ngStyle]="currentStyles" ngNonBindable> {{user.firstName}} {{user.lastName}} </h3> -->
            <h3 [ngStyle]="currentStyles"> {{user.firstName}} {{user.lastName}} </h3>
            <ul class="list-group" *ngIf="showExtended">
            <li class="list-group-item" >Age: {{user.age}}</li>
            <li class="list-group-item">Role: {{user.role}}</li>
            <li class="list-group-item">Amount: {{user.balance | currency:"GBP"}}</li>
             <li class="list-group-item">Joined: {{user.registered | date:"fullDate" | uppercase}}</li>
        </ul>   
        </div>
      </div> 
       
    </li>
</ul>

<!-- <h4 *ngIf="users.length == 0">no user found</h4> -->

<ng-template #noUsers>no user found!!</ng-template>