<app-post-form [currentPost]="currentPost" [isEdit]="isEdit" (updatedPost)="onUpdatePost($event)"
    (newPost)="onNewPost($event)"></app-post-form>
<h2>Posts</h2>
<div class="card mb-3" *ngFor="let p of posts">
    <div class="card-body">
        <h3><a routerLink="/post/{{p.id}}">{{ p.title}}</a></h3>
        <p>{{p.body}}</p>
        <hr>
        <button (click)="deletePost(p)" class="btn btn-danger mr-3">
            <i class="fa fa-remove"></i>
        </button>
        <button (click)="editPost(p)" class="btn btn-light">
            <i class="fa fa-pencil"></i>
        </button>
    </div>
</div>