<a routerLink="/posts" class="btn btn-light btn-sm mb-3">Back</a>

<h2>Post Details</h2>
<div class="card">
    <div class="card-body">
        <h4>{{post.title}}</h4>
        <p>{{post.body}}</p>
    </div>
</div>